.column .stackBlock{
    padding-left: 0;
    padding-right: 0;
    width: 85%;
}

.modal-content .stackBlock{
    width: 100%;
}

.modal-content .stackBlock h1, h2, h3{
    padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
    .column .stackBlock {
        width: 100%;
    }
    
}